body {
  margin:0;
  padding:0;
}

#navbar a{
  font-size: 10px;
  color :#fff;
}

#news li{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 8px;
}

#left-menu {
  background: #b33939;
  height: auto;
}
#left-menu a hr{
  display: none;
}

#left-menu a:hover {
  font-weight: bold;
}

#contents {
  display : block;
}

#nav-header {
  width: 100vw;
}

#banners {
  display: inline-block;
}

#logo {
  display: inline-block;
  position: absolute;
  right: 0;
}

#social-icons {
  font-size: 30px;
  color: #2d3436;
}

#top img {
  display: none;
}

@media only screen and (min-width: 576px) {

  #navbar a {
    font-size: 20px;
  }

  #left-menu {
    padding-top: 10%;
    background: #b33939;
    width: 200px;
    height: 100vh;
  }
  #left-menu a hr{
    margin-left: 0;
    display: block;
    background: #fff;
    width: 0;
    transition: 0.2s;
  }

  #news li{
    font-size: 15px;
  }

  #left-menu a:hover > hr {
    width: 100px;
    height: 1px;
  }

  #contents {
    position: absolute;
    display : inline-block;
  }

  #top img {
    display : block;
  }

  #social-icons {
    padding: 300px 0px 0px 15px;
    /* font-size: 40px; */
    /* color: #2d3436; */
  }

  #social-icons a{
    font-size: 40px;
    color: #2d3436;
    transition: .6s;
  }

  #social-icons a:hover {
    color: #fff;
  }



}
